
/* this media querry is for the md screen size
for bootstrap grid.  basically when the screen
is => 768px */
@media (min-width: 768px){

.bd-links {
    /* This makes my collapse nav show up
    when my screen is at a medium breakpoint
    this is so my nav can be collapsed when  */
    display: block!important;
}
}

#search-bar{
    position: relative;
    width: 100%;
    display: inline;
    
}
.nav-column{
    justify-content: right;
}